<div class="row">
  <div class="col-md-6">
    <h2>Questions</h2>
    <div class="well">
      {{#each model.questions as |question|}}
      {{list-questions question=question}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-6">
    {{new-question model=model saveQuestion="saveQuestion"}}
  </div>
</div>
